<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="./login">Fazer login</a>
</body>
=======
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/public/stylesheets/reset.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="login">Fazer login</a>
    </section>
  </body>
>>>>>>> f21c565069b75e5dd998fc951e1652b3f4bb03b0
</html>
