<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/public/stylesheets/reset.css' />
    <link rel='stylesheet' href='/public/stylesheets/login.css' />
</head>
<body>
    <main>
        <form action="main"> 
            <label>Usuário</label>
            <input type="text" id="user" name="user">
            <label>Senha</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </main>
</body>
</html>