<!DOCTYPE html>
<html lang="en">
<!-- INÍCIO DO HEAD -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel</title>
  <link rel="sortcut icon" href="../assets/money.svg" type="image" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<!-- ************************************** -->

<body>
  <!-- INÍCIO DO HEADER -->
  <header class="menu-header">
    <!-- <figure>
      <img src="../assets/finpe-logo.png" alt="logo">
    </figure> -->
    <nav>
      <ul class="menu-header">
        <li><a href="#">visão geral</a></li>
        <br>
        <li><a href="#">relatório</a></li>
        <br>
        <li><a href="#">cadastrar novo usuário</a></li>
        <br>
        <li><a href="./login">sair</a></li>
      </ul>
    </nav>
  </header>
  <!-- ************************************** -->

  <!-- INÍCIO DO MAIN -->
  <main>
    <section class="overview">
      <div class="incoming">
        <h3>Entradas</h3>
        <h4>R$ 5.000,00</h4>
      </div>
      <div class="spending">
        <h3>Saídas</h3>
        <h4>R$ 3.000,00</h4>
      </div>
      <div class="balance">
        <h3>Total</h3>
        <h4>R$ 2.000,00</h4>
      </div>
    </section>

    <section>

    </section>

  </main>
  <!-- ************************************** -->

  <!-- INÍCIO DO FOOTER -->
  <footer>

  </footer>
</body>

</html>
