*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49AA26;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    height: 5em;
    flex-basis: 250px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 1em;
}


.menu a:hover{
    background: #00000020;
}