body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-five);
}
img{
  border-radius: 1em;
  margin-top: 5em;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  border-radius: 1em;
}

.login-page{
  background: var(--background-three);
}

button{
  background-color: var(--color-main);
  height: 5em;
  width: 20em;
  margin-top: 25px;
  border-radius: 0.5em;

}
