body {
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr 2fr ;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input{
  height: 5em;
  width: 30em;
  margin: 1em;
  border-radius: 0.5em;
  text-align: center;
}

button{
  background-color: var(--color-one);
  height: 5em;
  width: 30em;
  margin-top: 3em;
  border-radius: 0.5em;
  opacity: 80%;
  color: var(--font-one);
}

button:hover{
  opacity: 100%;
  cursor:pointer;
}

a {
  margin-top: 1em;
  color: var(--color-four);
}

.asside{
  margin: 0 auto;
}
