@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* VARIBLES */

:root{
  --background: #F0F1F5;
  --color-one: #66CC99;
  --color-two: #112233;
  --color-three: #FC575E;
  --color-four:#44BBFF;
  --font: #545355;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-five);
  font-family: 'Inter', sans-serif;
}

img{
  border-radius: 1em;
 margin-top: 5em;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--link-color);
}

