<<<<<<< HEAD
/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* Backgroud */
body{
  background-color: #EEF0F3;
=======
/* VARIBLES */

:root{
  --background: #EEF0F3;
  --color-main: #4CBC5C;
  --color-one: #F7F6F5;
  --color-two: #3283C3;
  --color-three: #F0534A;
  --color-four: #601AF0;
  --font-color: #545355;
  --link-color: #00B7FF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--link-color);
>>>>>>> f21c565069b75e5dd998fc951e1652b3f4bb03b0
}

