<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel</title>

  <!-- <link rel="sortcuticon" href="../assets/money.svg" type="image" /> -->
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' /> -->
</head>
<!-- ************************************** -->

<body>

  <!-- ##### INÍCIO DO HEADER ##### -->

  <header class="menu">
    <nav>
      <ul class="menu">
        <li>
          <a href="#">visão geral</a>
        </li>
        <br>
        <li>
          <a href="#">relatório</a>
        </li>
        <br>
        <li>
          <a href="#" onclick="ModalRegister.open()">cadastrar novo usuário</a>
        </li>
        <br>
        <li>
          <a href="./login">sair</a>
        </li>
        <br>
      </ul>
    </nav>
  </header>
  <!-- ************************************** -->

  <!-- INÍCIO DO MAIN -->
  <main class="container">
    <section id="balance">
      <div class="card">
        <h3>
          <span>
            Entradas
          </span>
          <img src="./assets/income.svg" alt="Image de entradas">
        </h3>
        <p id="incomeDisplay">R$ 0,00</p>
      </div>

      <div class="card">
        <h3>
          <span>
            Saídas
          </span>
          <img src="./assets/expense.svg" alt="Image de saídas">
        </h3>
        <p id="expenseDisplay">R$ 0,00</p>
      </div>

      <div class="card total">
        <h3>
          <span>
            Total
          </span>
          <img src="./assets/total.svg" alt="Image de total">
        </h3>
        <p id="totalDisplay">R$ 0,00</p>
      </div>

    </section>

    <section id="transaction">
      <a href="#" onclick="Modal.open()" class="button new">+ Nova Transação</a>

      <table id="data-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% transaction.forEach(element=> { %>
            <tr>
              <td>
                <%= element.data %>
              </td>
              <td>
                <%= element.description %>
              </td>
              <td>
                <%= element.value %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </section>

  </main>
  <!-- ************************************** -->

  <!-- modal transação-->
  <div class="modal-transaction">
    <div class="modal">
      <div class="form">
        <h2>Nova Transação</h2>
        <form action="" onsubmit="Form.submit(event)">
          <div class="input-group">
            <label class="sr-only" for="date">Data</label>
            <input type="date" id="date" name="date" />
          </div>

          <div class="input-group">
            <label class="sr-only" for="description">Descrição</label>
            <input type="text" id="description" name="description" placeholder="Descrição" />
          </div>

          <div class="input-group">
            <label class="sr-only" for="amount">Valor</label>
            <input type="number" step="0.01" id="amount" name="amount" placeholder="0,00" />
            <small class="help">Use o sinal - (negativo) para despesas e , (vírgula) para casas decimais</small>
          </div>

          <div class="input-group actions">
            <a onclick="Modal.close()" href="#" class="button cancel">Cancelar</a>
            <button type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- ******************************* -->

  <!-- modal cadastro-->
  <div class="modal-register">
    <div class="modal">
      <div class="form">
        <h2>Cadastro novo usuário</h2>
        <form action="" onsubmit="Form.submit(event)">
          <div class="input-group">
            <label for="user">Usuário</label>
            <input type="text" id="user" name="description" placeholder="Usuário" />
          </div>

          <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Senha" />
          </div>

          <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Confirmar a senha" />
          </div>

          <div class="input-group actions">
            <a onclick="ModalRegister.close()" href="#" class="button cancel">Cancelar</a>
            <button type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- INÍCIO DO FOOTER -->
  <footer>
    <p>Desenvolvido em 2021</p>
  </footer>

  <script src="./javascript/scripts.js"></script>

</body>

</html>
