<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="sortcut icon" href="/assets/money.svg" type="image"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
  </head>
  <body>
    <section>
      <figure>
        <img src="/assets/finpe-logo.png" alt="logo">
      </figure>
      <a href="login">Fazer login</a>
    </section>
  </body>
</html>
