.income {
    color: #fff;
    background-color: #12a454;
    opacity: 0.7;
}

.income:hover {
    opacity: 1;
}

.expense {
    color: #fff;
    background-color: #e92929;
    opacity: 0.7;
}

.expense:hover {
    opacity: 1;
}