.balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.card {
    border: .1rem solid black;
    background: #FFFFFF;
    padding: 2em;
    border-radius: 0.25rem;
    margin: 2em;
    color: #000;
    box-shadow: -10px 10px 10px 1px rgba(0, 0, 0, 0.25);
    width: 400px;

}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545355;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    white-space: nowrap;
    margin-top: 1rem;
    color: #0D114F;
}

.entrada p {
    color: #4CBC5C;
}

.saida p {
    color: #F0534A;
}

.total p {
    color: #3283C3;
}